a {
	text-decoration: none;
}





.expander {
	color: cornflowerblue;
	margin: 0 0 0 0.1em;
	cursor: pointer;
	user-select: none;
}

.expansion {
	color: var(--primarytextcolor);
	cursor:auto;
	user-select:text;
	opacity: 55%;
}

.expanded {
	background: var(--bdtexthighlighter);
	border-bottom: 1px dotted var(--bdtexthighlightborder);
	font-weight: 500;
}

/*
.references > dt {
	font-variant: small-caps;
	color:#00000000;
	user-select: none;
	max-width: 0;
	max-height: 0;
}

.references > dd {
	text-indent: -2em;
	margin-left: 2em;
	margin-bottom: 0.5em;
	font-size: var(--fontsize);
	line-height: var(--lineheight);
	text-align:left;
}
*/

.bibheadhide {
    display: none;
}

.linkContainer {
    /*background:var(--bdtexthighlighter);*/
	border: thin rgba(128, 128, 128, 0.50) dotted;
	box-sizing: border-box;
    white-space: nowrap;
    margin: 0 0 -0.3em 0;
    padding: 0 0.2em;
    border-radius: 5px;
}

.refpdf {
    font-size: smaller;
}

.refpdf::before {
    background-image: url('../_resources/images/icons/PDF_file_icon.svg');
	background-repeat: no-repeat;
    background-size: 1.1em;
    display: inline-block;
    width: 1.1em; 
    height: 1.4em;
    content:"";
	margin-bottom: -0.3em;
	margin-left: 0.2em;
	margin-right: 0.2em;
	filter:opacity(80%)
}

/* .refaudio::before {
	background-image: url('../_resources/images/icons/play-button-round-icon.svg');
	background-repeat: no-repeat;
    background-size: 1em;
    display: inline-block;
    width: 1em; 
    height: 1em;
    content:"";
	margin-bottom: -0.2em;
	margin-left: 0.1em;
    margin-right: 0.3em;
	filter: invert(70%) sepia(0%) saturate(0%) hue-rotate(228deg) brightness(87%) contrast(83%);
}
 */

.refaudio::before {
	content: '🔊';
	margin-bottom: -0.3em;
	margin-left: 0.1em;
    margin-right: 0.3em;
	filter: opacity(75%) ;
}

.reflink {
	font-size: smaller;
	font-variant: small-caps;
}

.online::before {
    background-image: url('../_resources/images/icons/internet.svg');
    background-size: 1.1em;
    display: inline-block;
    width: 1.1em; 
    height: 1.1em;
    content:"";
	margin-bottom: -0.2em;
	margin-left: 0;
	margin-right: 0;
	filter: invert(27%) sepia(78%) saturate(1396%) hue-rotate(221deg) brightness(86%) contrast(91%);
}
/* 
.library::before {
    background-image: url('../_resources/images/icons/library.svg');
    background-size: 3.5em;
    display: inline-block;
    width: 3.5em; 
    height: 1.2em;
    content:"";
	margin-bottom: -0.3em;
	margin-left: 0.1em;
	background-repeat: no-repeat;
	filter: invert(62%) sepia(16%) saturate(6671%) hue-rotate(195deg) brightness(97%) contrast(91%);
}
*/

.library::before {
    background-image: url('../_resources/images/icons/bookshelf-colour.svg');
    background-size: 1.3em;
    display: inline-block;
    width: 1.3em; 
    height: 1.3em;
    content:"";
	margin-bottom: -0.35em;
	margin-left: 0.1em;
	margin-right: 0.3em;
	background-repeat: no-repeat;
}



.internetArchive::before {
    background-image: url('../_resources/images/icons/IA-logo.svg');
    background-size: 3.9em;
    display: inline-block;
    width: 3.9em; 
    height: 1.1em;
	line-height: 0;
    content:"";
	margin-bottom: -0.3em;
	margin-left: 0;
	margin-right: 0.2em;
	background-repeat: no-repeat;
	filter: invert(34%) sepia(0%) saturate(0%) hue-rotate(162deg) brightness(104%) contrast(90%);
}

.sacredTexts::before {
    background-image: url('../_resources/images/icons/sacred-texts.png');
    background-size: 3.5em;
    display: inline-block;
    width: 3.5em; 
    height: 1.5em;
	line-height: 0;
    content:"";
	margin-bottom: -0.6em;
	margin-left: 0;
	margin-right: 0.3em;
	background-repeat: no-repeat;
	filter: sepia(10%) saturate(100%) brightness(80%) contrast(80%);
}


.internetArchive:hover, .library:hover, .online:hover, .refaudio:hover, .refpdf:hover, .sacredTexts:hover{
	box-shadow: 0 0 5px 1px var(--suphovercolor);
} 