span.sc-link {
  position: relative;
  text-align: center;
  margin: 0;
  color: cornflowerblue;
  max-height: 20px;
  top:4px;
  left: 20px;
  }

span.sc-link a {
  position:relative;
  margin:0 !important;
  top:-5px;
  color: cornflowerblue;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  padding: 0 5px;
}

span.sc-link a::after {
	content: url('../_resources/images/icons/leave-app.svg');
}

span.sc-link img {
  position: relative;
  top:5px;
  left:-2px;
  content:url(../_resources/images/icons/sc-icon.png);
  height: 20px;
  width:auto;
  margin:0;
}


  
span.pli-lang,
span.eng-lang {
    display: block;
}

p span.pli-lang,
h1 span.pli-lang,
h2 span.pli-lang,
h3 span.pli-lang,
h4 span.pli-lang,
h5 span.pli-lang,
li span.pli-lang {
  color: var(--secondarytextcolor);
}

h1 span.pli-lang .segno,
h2 span.pli-lang .segno, 
h3 span.pli-lang .segno {
    display:none;
}
  

#sutta h2 {
  font-size: 1.3em;
  font-weight: 500;
}

.button-area {
  position:absolute;
  top: -35px;
  left:0;
  width:calc(100%);
  background: var(--primarybackground);
  border-radius: 5px 5px 0 0;
  border: 1px solid darkgrey;
}

.button-area > button {
  position:absolute;
  top: 3px;
  right: 20px;

  background-color: var(--buttonbackground);
  color: var(--buttontext);
  border: 1px solid grey;
  font-variant: small-caps;
  width:120px;
  height:20px;
  max-height: 20px;
  padding-top: 0;
  padding-bottom: 2px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid rgb(150, 150, 150, 0.5);
}


.button-area > button:active{
	background-color:var(--primarycolor);
  color: var(--buttonbackground);
}


.button-area > .checkcontainer{
  position: absolute;
  top:5px;
  right:150px;
}

.button-area > .checkcontainer > .checktext {
  position:absolute;
  top: -3px;
  font-size: 16px !important;
  left:20px;
  color: var(--buttontext);
}

#messagecontainer {
  display:none;
  text-align: center;
  position:absolute;
  min-height: 20px;
  width:96%;
  top: 25px;
  left:-1px;
  background-color: #c68b01;/* rgb(180, 16, 49);*/
  color:whitesmoke;
  border:1px solid darkgrey;
  padding:0 2%;
} 
#messagetext {
  font-variant: small-caps;
}


#sutta p.endsection {
  text-align: center;
  font-style: italic;
}

#sutta.hide-pali p span.pli-lang,
#sutta.hide-pali h1 span.pli-lang,
#sutta.hide-pali h2 span.pli-lang,
#sutta.hide-pali h3 span.pli-lang,
#sutta.hide-pali h4 span.pli-lang,
#sutta.hide-pali li span.pli-lang {
  display: none !important;
}

#sutta {
  text-align: left;
  margin: 30px 5%;
  padding: 20px 5%;
  font-size: var(--fontsize);
  font-family: var(--fontfamily);
}

#sutta h1 {
  text-align: center;
  font-weight: 400;
  font-variant: small-caps;
  margin-bottom: 1em;
}

#sutta p span {
  width:fit-content;
}

#sutta p + p {
  text-indent: 0;
}

#sutta.hide-pali p span.eng-lang {
  display: inline !important;
}

#sutta.hide-pali p {
  margin: 0px 0px 0.5rem 0rem;
}

#sutta.hide-pali p span.verse-line span.eng-lang {
  display: block !important;
  margin-bottom: 0rem;
}


span.eng-lang {
  margin-bottom: 0.4rem;
}

header ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

header ul li {
  text-align: center !important;
  font-variant: small-caps;
}

header li .segno {
  display:none;
}

.sclinktext, .sclinkref {
  color: cornflowerblue;
  text-decoration: none;
  cursor: pointer;
  outline: double 0 var(--notehighlighter); 
  border-radius: 1em;
  padding: 0.3em;
	margin: -0.3em;
}



/*
.citeBQ > .sclinktext, .citeBQ > .tipref, .cite > .sclinktext {
  font-size: smaller;
}
*/

.scsegments, .tipsegments {
  font-size: 0.7em;
  font-weight: 600;
  color: var(--scsegmentnumbercolor);
}

#sc-translator {
  text-align: right;
  font-style: italic;
  padding-top: 0;
}


.sc-mark {
  background-color: var(--bdtexthighlighter);
  border-bottom: solid var(--bdtexthighlightborder) thin;
}

/*
.sc-mark::after {
  content:' ';
  background-color: var(--bdtexthighlighter);
}
*/

.segno {
  font-size: 0.7em;
  font-weight: 600;
  color: var(--scsegmentnumbercolor);
  position:relative;
  top: 0.2em;
}

#sutta .gatha, .uddanagatha {
	border-left: unset;
  margin-bottom: 0;
  margin-top:1rem;
}


#sutta .gatha > p {
  display:block;
  margin-bottom: 1rem;
}

/*
#sutta .gatha > p:after {
  content:unset;
  white-space: unset;
  }
*/

@media (hover: hover) {
  .button-area > button:hover {
    box-shadow: 0 0 1px 1px var(--primarycolor);
  }

  .sclinktext:hover {
		box-shadow: 0 0 5px 1px var(--primarycolor);
	}

	.checkcontainer:hover input ~ .checkmark {
		box-shadow: 0 0 2px 1px var(--primarycolor);
	  }
}

@media screen and (max-width: 666px) {
  #sutta {
    margin: 30px 0;
    padding: 20px 1%;
  }




  .button-area > span.sc-link {
    left: 0;
    }

    .button-area > button {
      right: 10px;
    }


  #messagecontainer {
    font-size: 0.8em;
  } 

}