 @font-face {
	font-family: Heuristica;
	font-style: normal;
	font-weight: normal;
	src:url("../fonts/Heuristica-Regular.otf");
 }
 @font-face {
	font-family: Heuristica;
	font-style: normal;
	font-weight: bold;
	src:url("../fonts/Heuristica-Bold.otf");
 }
 @font-face {
	font-family: Heuristica;
	font-style: italic;
	font-weight: normal;
	src:url("../fonts/Heuristica-Italic.otf");
 }
 @font-face {
	font-family: Heuristica;
	font-style: italic;
	font-weight: bold;
	src:url("../fonts/Heuristica-BoldItalic.otf");
 } 
body {
	font-family: 'Heuristica';
}

.noshow {
	display: none;
}

.noitalics {
	font-style: normal;
}

.titlepage-title {
	margin-top: 3em;
	margin-bottom: 0.5em;
	text-align: center;
	font-size: 2.5em;
}
.titlepage-subtitle {
	margin-bottom: 1.5em;
	text-align: center;
	font-size: 1.2em
}
.titlepage-author {
	margin-bottom: 2em;
	text-align: center;
	font-size: 1.3em
}

h1 {
	text-align: center;
	font-weight: 400;
	font-size: 2.5em;
	padding-top: 2em;
	padding-bottom: 1em;
}

.quote {
	text-align: center;
}

.cite {
	text-align: center;
	font-size: smaller;
	margin-top:0.5em;
}

.citeBQ {
	text-align: right;
	margin-right: 2em;
}

.chapnum {
  font-variant:small-caps;
  font-size: 0.7em;
}

.footnote-ref {
  font-size:smaller;
  text-decoration: none;
}  
  
.footnotes > div {
  margin-bottom : 1em;
}

.footnote-back {
  margin-right: 1em;
  font-size:smaller;
  text-decoration: none;
}

.references {
	margin-left: 2em;
	margin-bottom: 0.5em;
	text-indent:-2em;
}

.references > div {
	margin-bottom: 0.3em;
}

.tipref {
	font-size: smaller;
}